/*! Cryptocoins - cryptocurrency icon font | https://github.com/allienworks/cryptocoins */

@font-face {
  font-family: "cryptocoins";
  src: url('cryptocoins.woff2') format('woff2'),
    url('cryptocoins.woff') format('woff'),
    url('cryptocoins.ttf') format('truetype');
}

/* .cc:before { */
.cc::before {
  font-family: "cryptocoins";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}


.cc.ABEL::before {
  content: "\E001";
}

.cc.ADA-alt::before {
  content: "\E002";
}

.cc.ADA::before {
  content: "\E003";
}

.cc.ADC-alt::before {
  content: "\E004";
}

.cc.ADC::before {
  content: "\E005";
}

.cc.AE::before {
  content: "\E006";
}

.cc.AEON-alt::before {
  content: "\E007";
}

.cc.AEON::before {
  content: "\E008";
}

.cc.AGM::before {
  content: "\E009";
}

.cc.AION::before {
  content: "\E00A";
}

.cc.AIPG::before {
  content: "\E00B";
}

.cc.ALEO::before {
  content: "\E00C";
}

.cc.ALPH::before {
  content: "\E00D";
}

.cc.AMA::before {
  content: "\E00E";
}

.cc.AMP-alt::before {
  content: "\E00F";
}

.cc.AMP::before {
  content: "\E010";
}

.cc.ANC-alt::before {
  content: "\E011";
}

.cc.ANC::before {
  content: "\E012";
}

.cc.ANON::before {
  content: "\E013";
}

.cc.ARCH-alt::before {
  content: "\E014";
}

.cc.ARCH::before {
  content: "\E015";
}

.cc.ARDR-alt::before {
  content: "\E016";
}

.cc.ARDR::before {
  content: "\E017";
}

.cc.ARK-alt::before {
  content: "\E018";
}

.cc.ARK::before {
  content: "\E019";
}

.cc.ARO::before {
  content: "\E01A";
}

.cc.AST::before {
  content: "\E01B";
}

.cc.AUR-alt::before {
  content: "\E01C";
}

.cc.AUR::before {
  content: "\E01D";
}

.cc.BANX-alt::before {
  content: "\E01E";
}

.cc.BANX::before {
  content: "\E01F";
}

.cc.BAT-alt::before {
  content: "\E020";
}

.cc.BAT::before {
  content: "\E021";
}

.cc.BAY-alt::before {
  content: "\E022";
}

.cc.BAY::before {
  content: "\E023";
}

.cc.BBC::before {
  content: "\E024";
}

.cc.BBR::before {
  content: "\E025";
}

.cc.BBS::before {
  content: "\E026";
}

.cc.BC-alt::before {
  content: "\E027";
}

.cc.BLK-alt::before {
  content: "\E027";
}

.cc.BC::before {
  content: "\E028";
}

.cc.BLK::before {
  content: "\E028";
}

.cc.BCD::before {
  content: "\E029";
}

.cc.BCH-alt::before {
  content: "\E02A";
}

.cc.BCC-alt::before {
  content: "\E02A";
}

.cc.BCH::before {
  content: "\E02B";
}

.cc.BCC::before {
  content: "\E02B";
}

.cc.BCI::before {
  content: "\E02C";
}

.cc.BCN-alt::before {
  content: "\E02D";
}

.cc.BCN::before {
  content: "\E02E";
}

.cc.BCY::before {
  content: "\E02F";
}

.cc.BEAM::before {
  content: "\E030";
}

.cc.BELA::before {
  content: "\E031";
}

.cc.BFT-alt::before {
  content: "\E032";
}

.cc.BFT::before {
  content: "\E033";
}

.cc.BIT::before {
  content: "\E034";
}

.cc.BLOCX::before {
  content: "\E035";
}

.cc.BLZ::before {
  content: "\E036";
}

.cc.BNB::before {
  content: "\E037";
}

.cc.BRK-alt::before {
  content: "\E038";
}

.cc.BRK::before {
  content: "\E039";
}

.cc.BRX-alt::before {
  content: "\E03A";
}

.cc.BRX::before {
  content: "\E03B";
}

.cc.BSD-alt::before {
  content: "\E03C";
}

.cc.BSD::before {
  content: "\E03D";
}

.cc.BTA::before {
  content: "\E03E";
}

.cc.BTC-alt::before {
  content: "\E03F";
}

.cc.BTC::before {
  content: "\E040";
}

.cc.BTCD-alt::before {
  content: "\E041";
}

.cc.BTCD::before {
  content: "\E042";
}

.cc.BTCP-alt::before {
  content: "\E043";
}

.cc.BTCP::before {
  content: "\E044";
}

.cc.BTCZ::before {
  content: "\E045";
}

.cc.BTG::before {
  content: "\E046";
}

.cc.BTM-alt::before {
  content: "\E047";
}

.cc.BTM::before {
  content: "\E048";
}

.cc.BTS-alt::before {
  content: "\E049";
}

.cc.BTS::before {
  content: "\E04A";
}

.cc.BURST::before {
  content: "\E04B";
}

.cc.CCX::before {
  content: "\E04C";
}

.cc.CFX::before {
  content: "\E04D";
}

.cc.CKB::before {
  content: "\E04E";
}

.cc.CLAM-alt::before {
  content: "\E04F";
}

.cc.CLAM::before {
  content: "\E050";
}

.cc.CLOAK-alt::before {
  content: "\E051";
}

.cc.CLOAK::before {
  content: "\E052";
}

.cc.CLORE::before {
  content: "\E053";
}

.cc.CPAY::before {
  content: "\E054";
}

.cc.CTXC::before {
  content: "\E055";
}

.cc.CVC-alt::before {
  content: "\E056";
}

.cc.CVC::before {
  content: "\E057";
}

.cc.DAO-alt::before {
  content: "\E058";
}

.cc.DAO::before {
  content: "\E059";
}

.cc.DASH-alt::before {
  content: "\E05A";
}

.cc.DASH::before {
  content: "\E05B";
}

.cc.DCR-alt::before {
  content: "\E05C";
}

.cc.DCR::before {
  content: "\E05D";
}

.cc.DCT-alt::before {
  content: "\E05E";
}

.cc.DCT::before {
  content: "\E05F";
}

.cc.DERO::before {
  content: "\E060";
}

.cc.DGB-alt::before {
  content: "\E061";
}

.cc.DGB::before {
  content: "\E062";
}

.cc.DGD::before {
  content: "\E063";
}

.cc.DGX::before {
  content: "\E064";
}

.cc.DMD-alt::before {
  content: "\E065";
}

.cc.DMD::before {
  content: "\E066";
}

.cc.DNR::before {
  content: "\E067";
}

.cc.DNX::before {
  content: "\E068";
}

.cc.DOGE-alt::before {
  content: "\E069";
}

.cc.DOGE::before {
  content: "\E06A";
}

.cc.EMC-alt::before {
  content: "\E06B";
}

.cc.EMC::before {
  content: "\E06C";
}

.cc.EMC2-alt::before {
  content: "\E06D";
}

.cc.EMC2::before {
  content: "\E06E";
}

.cc.EOS-alt::before {
  content: "\E06F";
}

.cc.EOS::before {
  content: "\E070";
}

.cc.ERC-alt::before {
  content: "\E071";
}

.cc.ERC::before {
  content: "\E072";
}

.cc.ERG::before {
  content: "\E073";
}

.cc.ETC-alt::before {
  content: "\E074";
}

.cc.ETC::before {
  content: "\E075";
}

.cc.ETH-alt::before {
  content: "\E076";
}

.cc.ETH::before {
  content: "\E077";
}

.cc.ETN::before {
  content: "\E078";
}

.cc.EVR::before {
  content: "\E079";
}

.cc.EXP-alt::before {
  content: "\E07A";
}

.cc.EXP::before {
  content: "\E07B";
}

.cc.FATH::before {
  content: "\E07C";
}

.cc.FC2-alt::before {
  content: "\E07D";
}

.cc.FC2::before {
  content: "\E07E";
}

.cc.FCT-alt::before {
  content: "\E07F";
}

.cc.FCT::before {
  content: "\E080";
}

.cc.FIRO::before {
  content: "\E081";
}

.cc.FLDC-alt::before {
  content: "\E082";
}

.cc.FLDC::before {
  content: "\E083";
}

.cc.FLO-alt::before {
  content: "\E084";
}

.cc.FLO::before {
  content: "\E085";
}

.cc.FLUX::before {
  content: "\E086";
}

.cc.FRK-alt::before {
  content: "\E087";
}

.cc.FRK::before {
  content: "\E088";
}

.cc.FTC-alt::before {
  content: "\E089";
}

.cc.FTC::before {
  content: "\E08A";
}

.cc.FUN::before {
  content: "\E08B";
}

.cc.GAME-alt::before {
  content: "\E08C";
}

.cc.GAME::before {
  content: "\E08D";
}

.cc.GBYTE-alt::before {
  content: "\E08E";
}

.cc.GBYTE::before {
  content: "\E08F";
}

.cc.GDC-alt::before {
  content: "\E090";
}

.cc.GDC::before {
  content: "\E091";
}

.cc.GEMZ-alt::before {
  content: "\E092";
}

.cc.GEMZ::before {
  content: "\E093";
}

.cc.GENX::before {
  content: "\E094";
}

.cc.GIN::before {
  content: "\E095";
}

.cc.GLD-alt::before {
  content: "\E096";
}

.cc.GLD::before {
  content: "\E097";
}

.cc.GNO-alt::before {
  content: "\E098";
}

.cc.GNO::before {
  content: "\E099";
}

.cc.GNT-alt::before {
  content: "\E09A";
}

.cc.GNT::before {
  content: "\E09B";
}

.cc.GOLOS-alt::before {
  content: "\E09C";
}

.cc.GOLOS::before {
  content: "\E09D";
}

.cc.GRC-alt::before {
  content: "\E09E";
}

.cc.GRC::before {
  content: "\E09F";
}

.cc.GRFT::before {
  content: "\E0A0";
}

.cc.GRIN::before {
  content: "\E0A1";
}

.cc.GRLC::before {
  content: "\E0A2";
}

.cc.GRS::before {
  content: "\E0A3";
}

.cc.GRV::before {
  content: "\E0A4";
}

.cc.GTM::before {
  content: "\E0A5";
}

.cc.HEAT-alt::before {
  content: "\E0A6";
}

.cc.HEAT::before {
  content: "\E0A7";
}

.cc.HNS::before {
  content: "\E0A8";
}

.cc.HORA::before {
  content: "\E0A9";
}

.cc.HSR::before {
  content: "\E0AA";
}

.cc.HUC-alt::before {
  content: "\E0AB";
}

.cc.HUC::before {
  content: "\E0AC";
}

.cc.HYP::before {
  content: "\E0AD";
}

.cc.ICN-alt::before {
  content: "\E0AE";
}

.cc.ICN::before {
  content: "\E0AF";
}

.cc.ICX::before {
  content: "\E0B0";
}

.cc.IFC-alt::before {
  content: "\E0B1";
}

.cc.IFC::before {
  content: "\E0B2";
}

.cc.INCNT-alt::before {
  content: "\E0B3";
}

.cc.INCNT::before {
  content: "\E0B4";
}

.cc.IOC-alt::before {
  content: "\E0B5";
}

.cc.IOC::before {
  content: "\E0B6";
}

.cc.IOTA-alt::before {
  content: "\E0B7";
}

.cc.IOTA::before {
  content: "\E0B8";
}

.cc.IRON::before {
  content: "\E0B9";
}

.cc.JBS-alt::before {
  content: "\E0BA";
}

.cc.JBS::before {
  content: "\E0BB";
}

.cc.KAS::before {
  content: "\E0BC";
}

.cc.KCN::before {
  content: "\E0BD";
}

.cc.KDA::before {
  content: "\E0BE";
}

.cc.KEVA::before {
  content: "\E0BF";
}

.cc.KLS::before {
  content: "\E0C0";
}

.cc.KMD-alt::before {
  content: "\E0C1";
}

.cc.KMD::before {
  content: "\E0C2";
}

.cc.KOBO::before {
  content: "\E0C3";
}

.cc.KORE-alt::before {
  content: "\E0C4";
}

.cc.KORE::before {
  content: "\E0C5";
}

.cc.LAX::before {
  content: "\E0C6";
}

.cc.LBC-alt::before {
  content: "\E0C7";
}

.cc.LBC::before {
  content: "\E0C8";
}

.cc.LDOGE-alt::before {
  content: "\E0C9";
}

.cc.LDOGE::before {
  content: "\E0CA";
}

.cc.LOKI::before {
  content: "\E0CB";
}

.cc.LSK-alt::before {
  content: "\E0CC";
}

.cc.LSK::before {
  content: "\E0CD";
}

.cc.LTC-alt::before {
  content: "\E0CE";
}

.cc.LTC::before {
  content: "\E0CF";
}

.cc.LUX::before {
  content: "\E0D0";
}

.cc.MAID-alt::before {
  content: "\E0D1";
}

.cc.MAID::before {
  content: "\E0D2";
}

.cc.MARKS-alt::before {
  content: "\E0D3";
}

.cc.MARKS::before {
  content: "\E0D4";
}

.cc.Bitmark::before {
  content: "\E0D4";
}

.cc.MBC::before {
  content: "\E0D5";
}

.cc.MCO-alt::before {
  content: "\E0D6";
}

.cc.MCO::before {
  content: "\E0D7";
}

.cc.MEWC::before {
  content: "\E0D8";
}

.cc.MINT-alt::before {
  content: "\E0D9";
}

.cc.MINT::before {
  content: "\E0DA";
}

.cc.MONA-alt::before {
  content: "\E0DB";
}

.cc.MONA::before {
  content: "\E0DC";
}

.cc.MRC::before {
  content: "\E0DD";
}

.cc.MSC-alt::before {
  content: "\E0DE";
}

.cc.MSC::before {
  content: "\E0DF";
}

.cc.MSR::before {
  content: "\E0E0";
}

.cc.MTL-alt::before {
  content: "\E0E1";
}

.cc.MTL::before {
  content: "\E0E2";
}

.cc.MTR-alt::before {
  content: "\E0E3";
}

.cc.MTR::before {
  content: "\E0E4";
}

.cc.MUE-alt::before {
  content: "\E0E5";
}

.cc.MUE::before {
  content: "\E0E6";
}

.cc.MWC::before {
  content: "\E0E7";
}

.cc.MYST-alt::before {
  content: "\E0E8";
}

.cc.MYST::before {
  content: "\E0E9";
}

.cc.NAV-alt::before {
  content: "\E0EA";
}

.cc.NAV::before {
  content: "\E0EB";
}

.cc.NBT::before {
  content: "\E0EC";
}

.cc.USNBT::before {
  content: "\E0EC";
}

.cc.NEO-alt::before {
  content: "\E0ED";
}

.cc.NEO::before {
  content: "\E0EE";
}

.cc.GAS::before {
  content: "\E0EE";
}

.cc.NEOS-alt::before {
  content: "\E0EF";
}

.cc.NEOS::before {
  content: "\E0F0";
}

.cc.NEOX::before {
  content: "\E0F1";
}

.cc.NEU-alt::before {
  content: "\E0F2";
}

.cc.NEU::before {
  content: "\E0F3";
}

.cc.NEXA::before {
  content: "\E0F4";
}

.cc.NIM::before {
  content: "\E0F5";
}

.cc.NLG-alt::before {
  content: "\E0F6";
}

.cc.NLG::before {
  content: "\E0F7";
}

.cc.NMC-alt::before {
  content: "\E0F8";
}

.cc.NMC::before {
  content: "\E0F9";
}

.cc.NMR::before {
  content: "\E0FA";
}

.cc.NOTE-alt::before {
  content: "\E0FB";
}

.cc.NOTE::before {
  content: "\E0FC";
}

.cc.NRG::before {
  content: "\E0FD";
}

.cc.NVC-alt::before {
  content: "\E0FE";
}

.cc.NVC::before {
  content: "\E0FF";
}

.cc.NXT-alt::before {
  content: "\E100";
}

.cc.NXT::before {
  content: "\E101";
}

.cc.OK-alt::before {
  content: "\E102";
}

.cc.OK::before {
  content: "\E103";
}

.cc.OMG-alt::before {
  content: "\E104";
}

.cc.OMG::before {
  content: "\E105";
}

.cc.OMNI-alt::before {
  content: "\E106";
}

.cc.OMNI::before {
  content: "\E107";
}

.cc.OPAL-alt::before {
  content: "\E108";
}

.cc.OPAL::before {
  content: "\E109";
}

.cc.PART-alt::before {
  content: "\E10A";
}

.cc.PART::before {
  content: "\E10B";
}

.cc.PASC::before {
  content: "\E10C";
}

.cc.PGN::before {
  content: "\E10D";
}

.cc.PIGGY-alt::before {
  content: "\E10E";
}

.cc.PIGGY::before {
  content: "\E10F";
}

.cc.PINK-alt::before {
  content: "\E110";
}

.cc.PINK::before {
  content: "\E111";
}

.cc.PIVX-alt::before {
  content: "\E112";
}

.cc.PIVX::before {
  content: "\E113";
}

.cc.PLSR::before {
  content: "\E114";
}

.cc.PMEER::before {
  content: "\E115";
}

.cc.POT-alt::before {
  content: "\E116";
}

.cc.POT::before {
  content: "\E117";
}

.cc.PPC-alt::before {
  content: "\E118";
}

.cc.PPC::before {
  content: "\E119";
}

.cc.PPT::before {
  content: "\E11A";
}

.cc.PXC::before {
  content: "\E11B";
}

.cc.PYI::before {
  content: "\E11C";
}

.cc.QRK-alt::before {
  content: "\E11D";
}

.cc.QRK::before {
  content: "\E11E";
}

.cc.QRL::before {
  content: "\E11F";
}

.cc.QTUM-alt::before {
  content: "\E120";
}

.cc.QTUM::before {
  content: "\E121";
}

.cc.QUAI::before {
  content: "\E122";
}

.cc.QUBIC::before {
  content: "\E123";
}

.cc.RADS-alt::before {
  content: "\E124";
}

.cc.RADS::before {
  content: "\E125";
}

.cc.RBIES-alt::before {
  content: "\E126";
}

.cc.RBIES::before {
  content: "\E127";
}

.cc.RBT-alt::before {
  content: "\E128";
}

.cc.RBT::before {
  content: "\E129";
}

.cc.RBY-alt::before {
  content: "\E12A";
}

.cc.RBY::before {
  content: "\E12B";
}

.cc.RDD-alt::before {
  content: "\E12C";
}

.cc.RDD::before {
  content: "\E12D";
}

.cc.REP-alt::before {
  content: "\E12E";
}

.cc.REP::before {
  content: "\E12F";
}

.cc.RHOC::before {
  content: "\E130";
}

.cc.RIC-alt::before {
  content: "\E131";
}

.cc.RIC::before {
  content: "\E132";
}

.cc.RISE-alt::before {
  content: "\E133";
}

.cc.RISE::before {
  content: "\E134";
}

.cc.RTH::before {
  content: "\E135";
}

.cc.RTM::before {
  content: "\E136";
}

.cc.RVN::before {
  content: "\E137";
}

.cc.RXD::before {
  content: "\E138";
}

.cc.RYO::before {
  content: "\E139";
}

.cc.SAFE::before {
  content: "\E13A";
}

.cc.SAL::before {
  content: "\E13B";
}

.cc.SALT-alt::before {
  content: "\E13C";
}

.cc.SALT::before {
  content: "\E13D";
}

.cc.SAR-alt::before {
  content: "\E13E";
}

.cc.SAR::before {
  content: "\E13F";
}

.cc.SCOT-alt::before {
  content: "\E140";
}

.cc.SCOT::before {
  content: "\E141";
}

.cc.SDC-alt::before {
  content: "\E142";
}

.cc.SDC::before {
  content: "\E143";
}

.cc.SERO::before {
  content: "\E144";
}

.cc.SIA-alt::before {
  content: "\E145";
}

.cc.SIA::before {
  content: "\E146";
}

.cc.SC::before {
  content: "\E146";
}

.cc.SJCX-alt::before {
  content: "\E147";
}

.cc.SJCX::before {
  content: "\E148";
}

.cc.STORJ::before {
  content: "\E148";
}

.cc.SLG-alt::before {
  content: "\E149";
}

.cc.SLG::before {
  content: "\E14A";
}

.cc.SLS-alt::before {
  content: "\E14B";
}

.cc.SLS::before {
  content: "\E14C";
}

.cc.SNRG-alt::before {
  content: "\E14D";
}

.cc.SNRG::before {
  content: "\E14E";
}

.cc.SNT::before {
  content: "\E14F";
}

.cc.SPR::before {
  content: "\E150";
}

.cc.START-alt::before {
  content: "\E151";
}

.cc.START::before {
  content: "\E152";
}

.cc.STEEM-alt::before {
  content: "\E153";
}

.cc.STEEM::before {
  content: "\E154";
}

.cc.SBD::before {
  content: "\E154";
}

.cc.STRAT-alt::before {
  content: "\E155";
}

.cc.STRAT::before {
  content: "\E156";
}

.cc.SUMO::before {
  content: "\E157";
}

.cc.SUQA::before {
  content: "\E158";
}

.cc.SWIFT-alt::before {
  content: "\E159";
}

.cc.SWIFT::before {
  content: "\E15A";
}

.cc.SYNC-alt::before {
  content: "\E15B";
}

.cc.SYNC::before {
  content: "\E15C";
}

.cc.SYS-alt::before {
  content: "\E15D";
}

.cc.SYS::before {
  content: "\E15E";
}

.cc.TLS::before {
  content: "\E15F";
}

.cc.TON::before {
  content: "\E160";
}

.cc.TRIG-alt::before {
  content: "\E161";
}

.cc.TRIG::before {
  content: "\E162";
}

.cc.TRTL::before {
  content: "\E163";
}

.cc.TRX::before {
  content: "\E164";
}

.cc.TUBE::before {
  content: "\E165";
}

.cc.TUX::before {
  content: "\E166";
}

.cc.TX-alt::before {
  content: "\E167";
}

.cc.TX::before {
  content: "\E168";
}

.cc.UBQ-alt::before {
  content: "\E169";
}

.cc.UBQ::before {
  content: "\E16A";
}

.cc.UFO::before {
  content: "\E16B";
}

.cc.UNITY-alt::before {
  content: "\E16C";
}

.cc.UNITY::before {
  content: "\E16D";
}

.cc.UPX::before {
  content: "\E16E";
}

.cc.USDT-alt::before {
  content: "\E16F";
}

.cc.USDT::before {
  content: "\E170";
}

.cc.VBK::before {
  content: "\E171";
}

.cc.VEIL::before {
  content: "\E172";
}

.cc.VERI::before {
  content: "\E173";
}

.cc.VET::before {
  content: "\E174";
}

.cc.VIA-alt::before {
  content: "\E175";
}

.cc.VIA::before {
  content: "\E176";
}

.cc.VIOR-alt::before {
  content: "\E177";
}

.cc.VIOR::before {
  content: "\E178";
}

.cc.VISH::before {
  content: "\E179";
}

.cc.VNL-alt::before {
  content: "\E17A";
}

.cc.VNL::before {
  content: "\E17B";
}

.cc.VPN-alt::before {
  content: "\E17C";
}

.cc.VPN::before {
  content: "\E17D";
}

.cc.VRC-alt::before {
  content: "\E17E";
}

.cc.VRC::before {
  content: "\E17F";
}

.cc.VRSC::before {
  content: "\E180";
}

.cc.VTC-alt::before {
  content: "\E181";
}

.cc.VTC::before {
  content: "\E182";
}

.cc.WART::before {
  content: "\E183";
}

.cc.WAVES-alt::before {
  content: "\E184";
}

.cc.WAVES::before {
  content: "\E185";
}

.cc.WOW::before {
  content: "\E186";
}

.cc.XAI-alt::before {
  content: "\E187";
}

.cc.XAI::before {
  content: "\E188";
}

.cc.XBC::before {
  content: "\E189";
}

.cc.XBS-alt::before {
  content: "\E18A";
}

.cc.XBS::before {
  content: "\E18B";
}

.cc.XCP-alt::before {
  content: "\E18C";
}

.cc.XCP::before {
  content: "\E18D";
}

.cc.XDAG::before {
  content: "\E18E";
}

.cc.XDNA::before {
  content: "\E18F";
}

.cc.XEL::before {
  content: "\E190";
}

.cc.XEM-alt::before {
  content: "\E191";
}

.cc.XEM::before {
  content: "\E192";
}

.cc.XHV::before {
  content: "\E193";
}

.cc.XLA::before {
  content: "\E194";
}

.cc.XLM-alt::before {
  content: "\E195";
}

.cc.XLM::before {
  content: "\E196";
}

.cc.XMN::before {
  content: "\E197";
}

.cc.XMR::before {
  content: "\E198";
}

.cc.XMY::before {
  content: "\E199";
}

.cc.XNA::before {
  content: "\E19A";
}

.cc.XPM-alt::before {
  content: "\E19B";
}

.cc.XPM::before {
  content: "\E19C";
}

.cc.XRE::before {
  content: "\E19D";
}

.cc.XRP-alt::before {
  content: "\E19E";
}

.cc.XRP::before {
  content: "\E19F";
}

.cc.XSG::before {
  content: "\E1A0";
}

.cc.XTL::before {
  content: "\E1A1";
}

.cc.XTM::before {
  content: "\E1A2";
}

.cc.XTZ-alt::before {
  content: "\E1A3";
}

.cc.XTZ::before {
  content: "\E1A4";
}

.cc.XVC-alt::before {
  content: "\E1A5";
}

.cc.XVC::before {
  content: "\E1A6";
}

.cc.XVG-alt::before {
  content: "\E1A7";
}

.cc.XVG::before {
  content: "\E1A8";
}

.cc.XWP::before {
  content: "\E1A9";
}

.cc.XZC-alt::before {
  content: "\E1AA";
}

.cc.XZC::before {
  content: "\E1AB";
}

.cc.YBC-alt::before {
  content: "\E1AC";
}

.cc.YBC::before {
  content: "\E1AD";
}

.cc.YEC::before {
  content: "\E1AE";
}

.cc.ZANO::before {
  content: "\E1AF";
}

.cc.ZEC-alt::before {
  content: "\E1B0";
}

.cc.ZEC::before {
  content: "\E1B1";
}

.cc.ZEIT-alt::before {
  content: "\E1B2";
}

.cc.ZEIT::before {
  content: "\E1B3";
}

.cc.ZEL::before {
  content: "\E1B4";
}

.cc.ZEPH::before {
  content: "\E1B5";
}

.cc.ZER::before {
  content: "\E1B6";
}

.cc.ZIL::before {
  content: "\E1B7";
}

.cc.ZRX-alt::before {
  content: "\E1B8";
}

.cc.ZRX::before {
  content: "\E1B9";
}